@charset    "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor01: rgba(255, 255, 255, 0.568);
    --cor02: rgba(104, 103, 103, 0.493);
    --fundo: url(../imagens/fundo.jpg);
    --fonte: Arial, Helvetica, sans-serif;
}
body{
    background-image: var(--fundo);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

}
h1{
    font-size: 2em;
    text-align: center;
    color: white;
}
section{

    text-align: center;
    font-family: url(--fonte);
    border-radius: 20px;
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-72%,-60%);
 
}
p#a{
    background-color: var(--cor02);
    border-radius: 50px;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: darkred;
}