@charset    "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --preto: black;
    --branco:white;
    --cor01:rgb(65, 65, 65);
    --cor02:rgba(255, 255, 255, 0.616);
    --fundo: url(../imagens/fundo.jpg);
    --fonte: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    font-family: var(--fonte);
}

body{
    background-image: var(--fundo);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--preto);
}

h1{
    font-size: 1.8em;
    text-align: center;
    color: var(--preto);
    background-color: var(--cor02);
    border-radius: 50px;
    padding: 9px;
}

section{
    text-align: center;
    font-family: url(--fonte);
    border-radius: 20px;
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-72%,-60%);
}

p#link{
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.274);
    border: 1px solid rgba(0, 0, 0, 0.479);
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p#link:hover{
    transform: translate(-2px, -2px);
    transition: transform 0.8s, border 0.5s;
    background-color: var(--preto);
}

p > a:hover{
    color: rgb(255, 0, 212);
}